{% extends 'main.html' %}
{% block content %}

<style>
    .container {
        background-color: #f8f9fa;
        padding: 2% 0;
        font-family: Arial, sans-serif;
    }

    /* Centering the header */
    .header-text {
        text-align: center;
        font-size: 1.2rem;
        color: #555;
        margin: 10px 0;
    }

    /* Style for the order details container */
    .order-details-container {
        text-align: center;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        max-width: 600px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .cart-total {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 20px 0;
        color: #333;
        background: #f0f0f0;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .order-details-container-shipping {
        text-align: center;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        max-width: 600px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container">
    <div class="order-details-container">
        <h2>Billing Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cart_products %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="cart-total">Total: {{ total }}</td>
                </tr>
            </tbody>
        </table>

        <div class="order-details-container-shipping">
            Name: {{ shipping_info.name }} <br>
            Email: {{ shipping_info.email }}<br>
            Address: {{ shipping_info.address }}<br>
            City: {{ shipping_info.city }}<br>
            Zipcode: {{ shipping_info.zipcode }}<br>
            State: {{ shipping_info.state }}<br>
            Country: {{ shipping_info.country }}<br>
        </div>

    <!-- <form action="{% url 'process_order' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary w-100" type="submit">Countinue to payment</button>
    </form> -->

    <a href="{% url 'gpay' %}" class="btn btn-primary w-100" >Countinue to payment</a>


</div>

    {% endblock content %}